<!-- Blog Card-->
<div class="card d-flex flex-row blog-card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Added 22/05/22</h6>
    <p class="card-text">
      {{description}}
    </p>
    <a href="/blogs/{{id}}" class="card-link">View Blog</a>
  </div>
</div>